// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    padding: 1.3rem 2.5rem;
    border: none;
    border-radius: 1.75rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  