.countdown {
    &__title {
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $clr-white;
        font-weight: $fw-500;
  
        span {
          color: $clr-primary-blue;
        }
    }

    &__timer {

        .time {
            h3 {
                font-size: $fs-500;
                font-weight: $fw-500;
                line-height: 1;
                margin: 0;
            }

            p {
                font-size: $fs-100;
                color: $clr-white;
                opacity: .5;
            }
        }
    }
}