.countdown {
    &__title {
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $clr-white;
        font-weight: $fw-500;
  
        span {
          color: $clr-primary-blue;
        }
    }

    &__timer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: .5rem;

        .time {
            display: inline-block;
            background-color: $clr-secondary-dark;
            color: white;
            padding: 1rem 1.2rem;
            border-radius: 4px;
            text-align: center;

            h3 {
                font-size: $fs-500;
                font-weight: $fw-500;
                line-height: 1;
                margin: 0;
            }

            p {
                font-size: $fs-100;
                color: $clr-white;
                opacity: .5;
                margin-bottom: 0;
            }
        }
    }
}