.countdown {
    &__title {
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: $fw-500;
        margin-bottom: 1.125rem;
        
        
    }

    &__timer {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .time {
            display: inline-block;
            padding: 1rem 1.2rem;
            border-radius: 10px;
            text-align: center;
            margin: 0 2px;
            width: 72px;

            &__number {
                font-size: $fs-500;
                font-weight: $fw-500;
                line-height: 1;
                margin: 0;
            }

            &__title {
                font-size: $fs-100;
                opacity: .5;
                margin-bottom: 0;
                font-weight: $fw-500;
            }
        }
    }
}

.countdown--dark {
    .countdown__title {
        color: $clr-white;
  
        span {
          color: $clr-primary-blue;
        }
    }

    .countdown__timer {
        .time {
            background-color: $clr-primary-dark;
            color: white;

            &__title {
                color: $clr-white;
            }
        }
    }
}

.countdown--light {
    .countdown__title {
        color: $clr-primary-dark;
  
        span {
          color: $clr-primary-blue;
        }
    }

    .countdown__timer {
        justify-content: left;
        .time {
            background-color: rgba(81, 117, 255, .1);
            color: $clr-primary-blue;

            &__title {
                color: $clr-primary-dark;
                opacity: 0.5;
            }
        }
    }
}



@media (min-width: 350px) {
    .countdown {
        &__timer {
            gap: .5rem;
        }
    }
}


@media (min-width: $max-w-screen-md) {
    .countdown {
        &__title {
            text-align: center;
        }

        &__timer {
            .time {
                width: 100px;
                &__number {
                    font-size: $fs-700;
                }

                &__title {
                    font-size: $fs-200;
                }
            }
        }
    }
}

@media (min-width: $max-w-screen-lg) {
    .countdown {
        &__title {
            text-align: left;
        }
    }
}