form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 445px;
    background-color: white;
    padding: 2.5rem;
    border-radius: 13px;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
    width: 100%;
}

input {
    border: none;
    border-bottom: 1px solid rgba(116,123,149, .5);
    padding-bottom: 1rem;
    padding-left: .5rem;
    mix-blend-mode: normal;
    outline: none;
   &:focus-visible {
      border: 1px solid;
      border-color: black;
      border-radius: 3px;
    }
}

::placeholder {
  color: $clr-gray;
  opacity: .5;
  mix-blend-mode: normal;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error-cross {
  width: 20px;
  position: absolute;
  right: .5rem;
  top: 1px;
}

.error {
  color: $clr-red;
  border-bottom: 1px solid $clr-red;
}

.error-message {
  margin-top: .5rem;
  margin-left: .5rem;
  color: $clr-red;
}

input:-internal-autofill-selected {
  background-color: white;
}

.custom-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(116,123,149, .25); 
  &:last-child {
    border-bottom: none;
  } 
}

.arrow-down {
  padding-right: 1rem;
}

.btn {
    margin-top: 1rem;
}

.btn--primary {
    box-shadow: none;
}