
form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 445px;
    background-color: white;
    padding: 2.5rem;
    border-radius: 13px;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.25);
    width: 100%;
}

input {
    
    border: none;
    border-bottom: 1px solid #747B95;
    opacity: .5;
    padding-bottom: 1rem;
    padding-left: .5rem;
    mix-blend-mode: normal;
}

select {
    border: none;
    border-bottom: 1px solid #747B95;
    opacity: .5;
    padding-bottom: 1rem;
    padding-left: .5rem;
    mix-blend-mode: normal;

}

.btn {
    margin-top: 1rem;
}

.btn--primary {
    box-shadow: none;
}

.countdown {
    margin-top: 2.5rem;
}