// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {

  color: $clr-primary-blue;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}


#root {
  position: relative;
  overflow: hidden;
}

main {
  overflow: hidden
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: $fs-600;
  // line-height: 1.4;

}

h2 {
  font-size: $fs-700;
}

h3 {
  font-size: $fs-500;
}

.bg-pattern-header {
  display: none;
}

@media (min-width: $max-w-screen-md) {

  .bg-pattern-header {
    display: block;
    width: 666px;
    position: absolute;
    top: -180px;
    right: -306px;
  }
}

@media (min-width: $max-w-screen-lg) {
  .bg-pattern-header {
    width: 1134px;
    right: -370px;
    top: -487px;
  }
}


