@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
/**
 * Basic typography style for copy text
 */
body {
  color: $clr-gray;
  font-family: $ff-base;
  margin: 0;
  font-size: $fs-200;
  font-weight: $fw-400;
  background-color: $bg-clr;
  line-height: 1.6;
}
