
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}


.signup-hero {
    padding-bottom: 5rem;

    header {
        padding-bottom: 14rem;
        background-position: 50% 110%;
    }

    .container {
        position: relative;
        transform: translateY(20rem);
        margin-top: -30rem;
    }

    &__content {
        text-align: center;

        h1 {
            font-size: $fs-600;
            color: $clr-primary-dark;   
            margin-top: 0;
        }

        p {
            font-size: $fs-200;
        }

        .countdown {
            margin-top: 64px;
        }

        .countdown--light .countdown__timer {
            justify-content: center;
        }
    }
}

.bg-dark {
    height: 320px;
    background-color: $clr-secondary-dark;
    background-image: url(../../assets/sign-up/bg-pattern-side.svg);
    background-size: 262.13px;
    background-position: bottom;
    background-repeat: no-repeat;
}

// .bg-dark {
//     background-color: #25293A;
//     background-image: url(../../assets/sign-up/bg-pattern-side.svg);
//     background-size: 1440px;
//     background-repeat: no-repeat;
//     background-position: 50% 115%;
    
//     position: absolute;
//     width: 28%;
//     height: 100vh;
//     top: 0;
//     right: 0;
//     z-index: -1;
// }


@media (min-width: $max-w-screen-lg) {

    .flex {
        flex-direction: row;
        align-items: flex-end;
    }

    .signup {
        height: 100vh;
    }
    
    .bg-dark {
        background-color: #25293A;
        background-image: url(../../assets/sign-up/bg-pattern-side.svg);
        background-size: 1440px;
        background-repeat: no-repeat;
        background-position: 50% 115%;
        
        position: absolute;
        width: 28%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: -1;
    }
    
}