.hero {
    position: relative;
    padding-bottom: 6rem;
    margin-top: 4rem;
    z-index: 100;


    &__image--mobile {
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        img {
            position: relative;
            z-index: 100;
            max-width: 171px;
            margin: 0 auto;
            padding-top: 80px;
        }
    }

    &__image {
        display: none;
    }

    &__content {
        text-align: center;
        padding-top: 1rem;
        h1 {
            color: $clr-primary-dark;
            font-size: $fs-600;
        }

        p {
            line-height: 1.625rem;
        }
    }

    &__btn {
        margin-top: 1.5rem;
    }

    &__bg-pattern {
        max-width: 458px;
        position: absolute;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        top: -16rem;
        left: -42px;
        right: 0;
        text-align: center;

    }
}

.bg-pattern-header {
    width: 666px;
    position: absolute;
    top: -180px;
    right: -306px;
}

@media (min-width: $max-w-screen-md) {
    .hero {
        margin-top: 0;

        &__content {
            text-align: left;
        }

        &__image--mobile {
            display: none;
        }

        &__image {
            display: block;
            img {
                width: 281px;
            }
        }
    }
}

