.hero {
    position: relative;

    &__image {
        text-align: center;
        img {
            position: relative;
            z-index: 100;
            max-width: 171px;
            margin: 0 auto;
            padding-top: 80px;
        }
    }

    &__content {
        text-align: center;
        padding-top: 1rem;
        h1 {
            color: $clr-primary-dark;
            font-size: $fs-600;
        }
    }

    &__btn {
        margin-top: 1.5rem;
    }

    &__bg-pattern {
        max-width: 458px;
        position: absolute;
        z-index: 100;
        margin-left: auto;
        margin-right: auto;
        top: -16rem;
        left: -42px;
        right: 0;
        text-align: center;

    }
}