.price {
    position: relative;
    margin-top: -62rem;
}


.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;

    position: relative;
    z-index: 100;
    transform: translateY(55rem);
}

@media (min-width: $max-w-screen-md) {
    .cards {
        transform: translateY(42rem);
    }
}

@media (min-width: $max-w-screen-lg) {
    .cards {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        transform: translateY(22rem);
    }
}