.cta {
    background-color: $clr-primary-dark;
    padding-top: 56rem;

    .timer {
        padding-bottom: 6rem;
        text-align: center;
        
        &__btn {
            margin-top: 2.5rem;
        }
    }
}