.cta {
    background-color: $clr-secondary-dark;
    padding-top: 56rem;
    background-image: url(../../assets/home/bg-pattern-footer.svg);
    background-repeat: no-repeat;
    background-position: 50% 350%;
    background-size: 1200px;

    .timer {
        padding-bottom: 6rem;
        text-align: center;
        
        &__btn {
            margin-top: 2.5rem;
        }
    }
}

@media (min-width: $max-w-screen-md) {
    .cta {
        padding-top: 38rem;
        background-image: url(../../assets/home/bg-pattern-footer.svg);
        background-repeat: no-repeat;
        background-position: 50% -4%;
        background-size: 1454px;
    }
}